html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#vel {
    font-family: monospace;
    color: white;
    position: absolute;
    z-index: 2;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    visibility: hidden;

    &.red {
        color: orangered;
    }
    &.blu {
        color: dodgerblue;
    }
}

canvas {
    position: absolute;
    top: 0;
}

#joystick-cont {
    position: absolute;
    bottom: 0;

    width: 30vmax;
    aspect-ratio: 1 / 1;
    z-index: 1;
    /*background-color: rgba(15, 15, 15, 0.05);*/
    display: none;
    border-radius: 0 1vmax 0 0;
    z-index: 1;

    #joystick-pos {
        position: relative;
        pointer-events: none;

        #joystick,
        #joystick2,
        #joystick3 {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(15, 15, 15, 0.5);
            width: 10vmax;
            aspect-ratio: 1 / 1;
            border-radius: 15vmax;
            visibility: hidden;
            pointer-events: none;
            z-index: 3;
            transform: translate(-50%, -50%);
        }

        #joystick2 {
            width: 5vmax;
            z-index: 2;
            opacity: 0.5;
        }

        #joystick3 {
            width: 3vmax;
            z-index: 1;
            opacity: 0.25;
        }
    }
}
