html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: monospace;
    color: white;
    overflow: hidden;
}

body {
    transition: opacity 500ms;

    &.lock {
        transition: opacity 250ms;
    }

    iframe {
        border: 0;
    }

    #context {
        width: 10em;
        max-height: 20em;
        display: flex;
        flex-direction: column;
        background-color: #151515;
        padding: 4px 0 0 0;
        border: 1px white solid;
        font-family: monospace;

        #ctx-name {
            margin-left: 4px;
            margin-bottom: 3px;
            font-size: 10px;
        }

        #ctx-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;

            button {
                padding: 2px 0 2px 4px;
                font-family: monospace;
                border: none;
                font-size: 10px;
                color: white;
                background-color: #151515;

                text-align: left;

                &.hover {
                    background-color: #353535;
                }

                &.active {
                    background-color: #404040;
                }
            }
        }
    }
    > #context {
        visibility: hidden;
    }
}

@font-face {
    font-family: Inter ExtraBold;
    src: url(/fonts/inter.woff2) format(woff2);
    font-weight: 800;
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "case",
        "ss01",
        "ss02",
        "cv01",
        "cv06",
        "cv11",
        "cv12",
        "cv13";
    font-display: swap;
}

#bootlog {
    color: darkgrey;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    max-height: 100%;
    pointer-events: none;
    scrollbar-width: 0;
    overflow-y: scroll;
    white-space: pre;
    pointer-events: all;
    background-color: black;
    backdrop-filter: blur(0.5em);
    z-index: 10;

    :last-child {
        margin-bottom: 5em;
    }

    .red {
        color: lightgrey;
        background-color: rgba(255, 50, 0, 0.35);
    }

    &:has(.red) {
        position: relative;
        z-index: 10;
    }
}

@import "title";

canvas[data-engine],
#pc-info,
#cross {
    position: absolute;
    pointer-events: none;
    top: 0;
}

#pc-info {
    z-index: 2;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    mix-blend-mode: difference;
    font-family:
        Inter ExtraBold,
        sans-serif;
}

#cross {
    z-index: 3;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    pointer-events: none;
    visibility: hidden;
    mix-blend-mode: difference;
    font-weight: normal;
    position: relative;

    &.active::after {
        content: "○";
        width: 1em;
        height: 1em;
        position: absolute;
        top: calc(50% - 0.6em);
        left: calc(50% - 0.5em);
        text-align: center;
        border-radius: 100%;
        z-index: -1;
        font-size: 1.25em;
    }
}

@import "mobile";
