html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: monospace;
    color: white;
    overflow: hidden;
}

body {
    transition: opacity 500ms;

    &.lock {
        transition: opacity 250ms;
    }

    #audio {
        width: 10em;
        aspect-ratio: 1;
        position: absolute;
        bottom: calc(15% - 5em);
        right: calc(15% - 5em);
        z-index: 2;
        background-image: url("/textures/muted.svg");
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: difference;
        cursor: pointer;
        display: none;

        &.unmuted {
            background-image: url("/textures/unmuted.svg");
        }
    }

    #screen {
        display: grid;
        opacity: 0;
        transition: opacity 500ms;

        #spinner-box {
            display: none;
            width: 4em;
            aspect-ratio: 1;
            position: absolute;
            z-index: 100;
            left: calc(50% - 2em);
            top: 5%;
            scale: 0.75;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 8px;
            border-radius: 8px;

            .spinner {
                position: static;
                opacity: 1;
            }
        }

        #navbar {
            display: flex;
            justify-content: center;
            background-color: #151515;

            #spacer {
                height: 100%;
                width: 1em;
                background-color: #f5f5f5;
                border-radius: 4px 0 0 4px;
            }

            #oses {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-right: 16px;
            }

            #bookmarks {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-left: 16px;
            }

            .os {
                height: 32px;
                aspect-ratio: 1;
                background-color: #f5f5f5;
                padding: 1px;
                border-radius: 4px;
                cursor: pointer;
                background-size: 28px;
                background-position: center;
                background-repeat: no-repeat;
                border: none;

                &#fps {
                    background-image: url("/icon.png");
                }

                &#tundra {
                    background-image: url("https://annaxiomm.github.io/tundra/images/wally.png");
                }

                &#google {
                    background-image: url("https://www.gstatic.com/images/branding/searchlogo/ico/favicon.ico");
                }

                &#threejs {
                    background-image: url("https://threejs.org/files/favicon.ico");
                }

                &:hover {
                    opacity: 0.9;
                }

                &:active {
                    opacity: 0.8;
                }
            }

            &:has(input#url:focus) #spacer {
                box-shadow:
                    inset 0 2px 0 0 dodgerblue,
                    inset 0 -2px 0 0 dodgerblue,
                    inset 2px 0 0 0 dodgerblue;
            }

            input#url {
                width: 50%;
                font-size: 1.5em;
                border: none;
                outline: none;
                font-family:
                    Inter Semi-Bold,
                    sans-serif;
                background-color: #f5f5f5;
                border-radius: 0 4px 4px 0;

                &:focus {
                    box-shadow:
                        inset 0 2px 0 0 dodgerblue,
                        inset 0 -2px 0 0 dodgerblue,
                        inset -2px 0 0 0 dodgerblue;
                }
            }
        }

        #iframe-error {
            position: absolute;
            width: 100%;
            height: calc(100% - 30px);
            top: 30px;
            text-align: center;
            align-items: center;
            justify-items: center;
            background: black;
            font-family: monospace;
            font-size: 2.25em;
            margin: 0;
            display: none;
            white-space: pre;

            &::after {
                content: ":(";
                position: absolute;
                top: calc(35% - 30px);
                font-size: 2em;
                font-weight: bold;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    #context {
        width: 10em;
        max-height: 20em;
        display: flex;
        flex-direction: column;
        background-color: #151515;
        padding: 4px 0 0 0;
        border: 1px white solid;
        font-family: monospace;

        #ctx-name {
            margin-left: 4px;
            margin-bottom: 3px;
            font-size: 10px;
        }

        #ctx-buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;

            button {
                padding: 2px 0 2px 4px;
                font-family: monospace;
                border: none;
                font-size: 10px;
                color: white;
                background-color: #151515;

                text-align: left;

                &.hover {
                    background-color: #353535;
                }

                &.active {
                    background-color: #404040;
                }
            }
        }
    }
    > #context {
        visibility: hidden;
    }
}

@font-face {
    font-family: Inter ExtraBold;
    src: url(/fonts/inter.woff2) format(woff2);
    font-weight: 800;
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "case",
        "ss01",
        "ss02",
        "cv01",
        "cv06",
        "cv11",
        "cv12",
        "cv13";
    font-display: swap;
}

#bootlog {
    color: darkgrey;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    max-height: 100%;
    pointer-events: none;
    scrollbar-width: 0;
    overflow-y: scroll;
    white-space: pre;
    pointer-events: all;
    background-color: black;
    backdrop-filter: blur(0.5em);
    z-index: 10;

    :last-child {
        margin-bottom: 5em;
    }

    .red {
        color: lightgrey;
        background-color: rgba(255, 50, 0, 0.35);
    }

    &:has(.red) {
        position: relative;
        z-index: 10;
    }
}

@import "title";

.spinner {
    width: 4em;
    aspect-ratio: 1;
    position: absolute;
    z-index: 100;
    left: calc(50% - 2em);
    top: calc(65% - 2em);
    opacity: 0;
    transition: opacity 2s ease-in;
    pointer-events: none;

    background-image: url("/textures/wheel.svg");
    background-size: cover;
    mask-image: conic-gradient(
        from calc(var(--rotation) + 180deg),
        black var(--spread),
        transparent var(--spread)
    );

    @property --rotation {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }
    @property --spread {
        syntax: "<percentage>";
        inherits: false;
        initial-value: 0%;
    }

    @keyframes spin {
        0% {
            --rotation: 0deg;
        }
        100% {
            --rotation: 360deg;
        }
    }
    @keyframes resize {
        0% {
            --spread: 0%;
        }
        40% {
            --spread: 80%;
        }
        100% {
            --spread: 0%;
        }
    }
}

canvas[data-engine],
#pc-info,
#literal-pc-info,
#cross {
    position: absolute;
    pointer-events: none;
    top: 0;
}

#pc-info,
#literal-pc-info {
    z-index: 2;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    mix-blend-mode: difference;
    font-family:
        Inter ExtraBold,
        sans-serif;
}

#literal-pc-info {
    height: 15%;
    mix-blend-mode: normal;
    text-align: center;
    transition: none;
}

#cross {
    z-index: 3;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    pointer-events: none;
    visibility: hidden;
    mix-blend-mode: difference;
    font-weight: normal;
    position: relative;

    &.active::after {
        content: "○";
        width: 1em;
        height: 1em;
        position: absolute;
        top: calc(50% - 0.6em);
        left: calc(50% - 0.5em);
        text-align: center;
        border-radius: 100%;
        z-index: -1;
        font-size: 1.25em;
    }
}

@import "mobile";
